@use "./assets" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light-black;
}

img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  font-family: $font-satoshi;
  font-size: 1rem;
  font-display: swap;
  overflow-x: hidden;
}

label[for="search"] {
  display: none;
}
