.str-chat {
  --str-chat__primary-color: #009688;
  --str-chat__active-primary-color: #004d40;
  --str-chat__surface-color: #f5f5f5;
  --str-chat__secondary-surface-color: #fafafa;
  --str-chat__primary-surface-color: #e0f2f1;
  --str-chat__primary-surface-color-low-emphasis: #edf7f7;
  --str-chat__border-radius-circle: 6px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  font-display: swap;
  overflow-x: hidden;
}

label[for=search] {
  display: none;
}

.str-chat {
  --str-chat__primary-color: #009688;
  --str-chat__active-primary-color: #004d40;
  --str-chat__surface-color: #f5f5f5;
  --str-chat__secondary-surface-color: #fafafa;
  --str-chat__primary-surface-color: #e0f2f1;
  --str-chat__primary-surface-color-low-emphasis: #edf7f7;
  --str-chat__border-radius-circle: 6px;
}

.container {
  display: flex;
}

.container--center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container--between {
  justify-content: space-between;
  align-items: center;
}

.container--col {
  flex-direction: column;
}

.container--center-row {
  justify-content: center;
  align-items: center;
}

.gap--lg {
  gap: 2rem;
}

.gap--md {
  gap: 1rem;
}

.round-btn {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333333;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  transition: 0.3s ease-in-out;
}
.round-btn img {
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s ease-in-out;
}

.round-btn:hover {
  background: rgb(223, 223, 223);
  transition: 0.3s ease-in-out;
}

.round-btn:hover img {
  scale: 1.2;
  transition: 0.3s ease-in-out;
}

.dark-para {
  font-weight: 500;
  color: #333333;
}

.input--light {
  padding: 0.5rem 5rem;
}

.button--dark {
  padding: 0.5rem 2rem;
  background: #292929;
  color: #fff;
  transition: 0.3s ease-in-out;
  border: 1px solid #333333;
  text-align: center;
}

.button--dark:hover,
.button--dark[click] {
  background: #fff;
  color: #333333;
  border: 1px solid #333333;
  transition: 0.3s ease-in-out;
}

.active--link {
  color: #333333;
  font-weight: 500;
}

.gap--sm {
  gap: 0.3rem;
}

.icon {
  max-width: 1.5rem;
}

.str-chat__reverse-infinite-scroll {
  max-height: 40vh;
}

.str-chat {
  --str-chat__primary-color: #009688;
  --str-chat__active-primary-color: #004d40;
  --str-chat__surface-color: #f5f5f5;
  --str-chat__secondary-surface-color: #fafafa;
  --str-chat__primary-surface-color: #e0f2f1;
  --str-chat__primary-surface-color-low-emphasis: #edf7f7;
  --str-chat__border-radius-circle: 6px;
}

.navbar {
  padding: 3rem;
  text-transform: capitalize;
}

.navbar__hamburger {
  display: none;
}

.navbar__links {
  gap: 1rem;
}
.navbar__links img {
  width: 1.2rem;
}

.navbar__NavLinks li:hover {
  color: #292929;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

.nav__close {
  display: none;
}

.navbar__logo-mobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 1rem;
  }
  .navbar__hamburger {
    display: flex;
  }
  .navbar__hamburger[aria-expanded=false] ~ .navlink-link {
    display: none;
  }
  .navbar__hamburger[aria-expanded=false] ~ .nav__close {
    display: none;
  }
  .nav__close {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
  }
  .nav__close img {
    width: 1.3rem;
  }
  .navbar__logo-mobile {
    display: flex;
    width: 5rem !important;
    margin-bottom: 3rem;
  }
  .navlink-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0rem;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    gap: 2rem;
    z-index: 1;
  }
  .navbar__NavLinks {
    gap: 0.5rem;
  }
  .navbar__NavLinks img {
    width: 1.2rem;
  }
  .navbar__logo {
    max-width: 5rem;
  }
}
.str-chat {
  --str-chat__primary-color: #009688;
  --str-chat__active-primary-color: #004d40;
  --str-chat__surface-color: #f5f5f5;
  --str-chat__secondary-surface-color: #fafafa;
  --str-chat__primary-surface-color: #e0f2f1;
  --str-chat__primary-surface-color-low-emphasis: #edf7f7;
  --str-chat__border-radius-circle: 6px;
}

.landingpage {
  padding: 2rem 0;
}

.landingpage__heading {
  font-size: 4rem;
  font-family: "Clash Display", sans-serif;
  color: #292929;
  text-align: center;
  max-width: 800px;
}

.landlingpage__para {
  text-align: center;
  font-weight: 500;
  max-width: 700px;
}

.landing__image {
  display: none;
}

.carousel {
  padding: 2rem 0;
}

.card:nth-child(even) {
  margin-top: 2rem;
}

.featured {
  padding: 3rem;
}

.featured-product {
  margin-top: 3rem;
  border-top: 1px solid #333333;
  padding-top: 3rem;
  transition: 0.4s ease-in-out;
}
.featured-product:nth-child(3) {
  flex-direction: row-reverse;
}

.featured__heading {
  font-size: 2rem;
  color: #333333;
  font-weight: 500;
}

.product__heading {
  font-size: 2rem;
  color: #333333;
  font-family: "STIX Two Text", serif;
}

.product__para {
  font-size: 1.5rem;
  color: #333333;
}

.events {
  background: linear-gradient(99.99deg, #4693ed -26.21%, #79c2d2 22.16%, rgba(192, 86, 9, 0.49) 111.62%);
  padding: 3rem;
}

.events__heading {
  color: #fff;
  padding: 0.2rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.568);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.events__slide {
  padding: 3rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), linear-gradient(104.57deg, rgba(0, 0, 0, 0) 21.03%, rgba(0, 0, 0, 0.2) 56.5%, rgba(0, 0, 0, 0.2) 93.84%);
  min-height: 25rem;
  align-items: flex-end;
  color: #fff;
}

.slide__detail {
  max-width: 40rem;
}

.slide__para {
  font-size: 1rem;
}

.slide__no {
  font-size: 4rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
}

.slide__heading {
  font-size: 2rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
}

.reminder {
  padding: 0.7rem;
  border: 1px solid #fff;
  color: #fff;
}

.underline {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.explore {
  padding: 3rem;
}

.secondary-links {
  padding: 2rem;
  border-top: 1px solid #333333;
  font-size: 2rem;
  color: #333333;
  font-weight: 500;
}
.secondary-links:nth-child(2) {
  border-bottom: 1px solid #333333;
}

.creator {
  background: #e2e2e2;
  position: relative;
  min-height: 80vh;
  padding: 3rem;
  font-family: "Clash Display", sans-serif;
}

.creator__image {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 30%;
  transform: translate(-50%, -95%);
}

.creator__heading {
  font-size: 2rem;
  max-width: 20rem;
  font-weight: 600;
  color: #333333;
}

.creator__list {
  font-size: 1.5rem;
  color: #333333;
}

.creator__quotes {
  color: rgba(0, 0, 0, 0.26);
  margin: 3rem 0;
  font-size: 1.5rem;
}

.newsletter {
  margin: 3rem;
  border: 1px solid #333333;
  padding: 2rem;
}

.newsletter__heading {
  font-family: "Baskervville", serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
}

.newsletter__para {
  font-weight: 400;
  font-size: 1.5rem;
  color: #333333;
}

@media screen and (max-width: 700px) {
  .landingpage {
    padding: 1rem;
  }
  .landingpage__heading {
    font-size: 2rem;
  }
  .landlingpage__para {
    font-size: 1rem;
    color: #333333;
  }
  .carousel {
    display: none;
  }
  .landing__image {
    display: flex;
  }
  .featured,
.events,
.explore,
.creator {
    padding: 1rem;
  }
  .featured-product {
    flex-direction: column;
  }
  .featured-product:nth-child(3) {
    flex-direction: column;
  }
  .product__heading {
    font-size: 1.5rem;
  }
  .product__para {
    font-size: 1rem;
  }
  .people-grp {
    display: none;
  }
  .featured__product-info {
    gap: 1rem;
  }
  .events {
    margin-top: 2rem;
  }
  .events__slide {
    flex-direction: column;
    padding: 1rem;
  }
  .slide__no {
    font-size: 2rem;
  }
  .events__heading {
    font-size: 1.5rem;
  }
  .event__slide__info {
    flex-direction: column;
    gap: 1rem;
  }
  .slide__heading {
    font-size: 1.5rem;
  }
  .slide__para {
    font-size: 1rem;
  }
  .slide__detail {
    margin-bottom: 1rem;
  }
  .underline,
.reminder {
    font-size: 1rem;
  }
  .explore {
    margin: 2rem 0;
  }
  .secondary-links {
    padding: 1rem;
    font-size: 1rem;
  }
  .creator__quotes {
    font-size: 1rem;
  }
  .creator__heading {
    font-size: 1.5rem;
  }
  .creator__list {
    font-size: 1rem;
  }
  .creator__image {
    width: 100%;
  }
  .newsletter {
    margin: 1rem;
    padding: 1rem;
    margin-top: 3rem;
  }
  .newsletter__form {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  .newsletter__heading,
.newsletter__para {
    font-size: 1rem;
  }
}
.str-chat {
  --str-chat__primary-color: #009688;
  --str-chat__active-primary-color: #004d40;
  --str-chat__surface-color: #f5f5f5;
  --str-chat__secondary-surface-color: #fafafa;
  --str-chat__primary-surface-color: #e0f2f1;
  --str-chat__primary-surface-color-low-emphasis: #edf7f7;
  --str-chat__border-radius-circle: 6px;
}

.product {
  margin: auto 3rem;
  justify-content: center;
}

.product__image {
  max-width: 20rem;
  border: 1px solid #333333;
  padding: 2rem;
  height: 100%;
}

.product__info {
  border-left: 0;
  color: #333333;
  max-width: 30rem;
}

.product__name h2 {
  letter-spacing: 1px;
}

.expand__box {
  position: relative;
}
.expand__box div {
  margin-top: 1rem;
}

.product__name,
.product__detail,
.product__status {
  padding: 2rem;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
}

.product__status {
  border-bottom: 1px solid #333333;
}

.product__creator {
  color: #616161;
  font-size: 1.5rem;
}
.product__creator span {
  color: #4693ed;
}

.product__view {
  font-weight: 500;
}

.collection_heading {
  padding: 1rem;
  font-size: 1.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  margin: 3rem;
  border-radius: 5px;
}

.arrow {
  width: 0.7rem;
  height: 0.7rem;
}

.left--arrow {
  transform: rotate(180deg);
}

.collection__item {
  max-width: 15rem;
  border: 1px solid #333333;
  padding: 1rem;
}

.collection__container {
  padding: 3rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .product {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #333333;
    margin: 1rem;
  }
  .product__image {
    flex-grow: 1;
    max-width: 100%;
    padding: 1rem;
    border: none;
  }
  .product__name,
.product__detail,
.product__status {
    padding: 1rem;
    border: none;
    font-size: 1rem;
  }
}
.str-chat {
  --str-chat__primary-color: #009688;
  --str-chat__active-primary-color: #004d40;
  --str-chat__surface-color: #f5f5f5;
  --str-chat__secondary-surface-color: #fafafa;
  --str-chat__primary-surface-color: #e0f2f1;
  --str-chat__primary-surface-color-low-emphasis: #edf7f7;
  --str-chat__border-radius-circle: 6px;
}

.support {
  padding: 3rem;
  color: #333333;
}
.support h2 {
  font-weight: 700;
}

.startchat {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../assets/b11.jpg") no-repeat center/cover;
}

.str-chat {
  --str-chat__primary-color: #009688;
  --str-chat__active-primary-color: #004d40;
  --str-chat__surface-color: #f5f5f5;
  --str-chat__secondary-surface-color: #fafafa;
  --str-chat__primary-surface-color: #e0f2f1;
  --str-chat__primary-surface-color-low-emphasis: #edf7f7;
  --str-chat__border-radius-circle: 6px;
}

.footer {
  padding: 3rem;
  color: #333333;
  margin-top: 2rem;
}

.footer__icon {
  width: 1.5rem;
}

.footer__links {
  margin: 0 3rem;
}

.copyright {
  padding-top: 4rem;
}

@media screen and (max-width: 700px) {
  .footer__main {
    flex-direction: column;
  }
  .footer__links {
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */