@use "../../styles/assets" as *;

.product {
  margin: auto 3rem;
  justify-content: center;
}

.product__image {
  max-width: 20rem;
  border: 1px solid $light-black;
  padding: 2rem;
  height: 100%;
}

.product__info {
  border-left: 0;
  color: $light-black;
  max-width: 30rem;
}

.product__name {
  h2 {
    letter-spacing: 1px;
  }
}

.expand__box {
  position: relative;

  div {
    margin-top: 1rem;
  }
}

.product__name,
.product__detail,
.product__status {
  padding: 2rem;
  border-top: 1px solid $light-black;
  border-right: 1px solid $light-black;
}

.product__status {
  border-bottom: 1px solid $light-black;
}

.product__creator {
  color: $gray;
  font-size: $font-md;

  span {
    color: $light-blue;
  }
}

.product__view {
  font-weight: 500;
}

.collection_heading {
  padding: 1rem;
  font-size: $font-md;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  margin: 3rem;
  border-radius: 5px;
}

.arrow {
  width: 0.7rem;
  height: 0.7rem;
}
.left--arrow {
  transform: rotate(180deg);
}

.collection__item {
  max-width: 15rem;
  border: 1px solid $light-black;
  padding: 1rem;
}

.collection__container {
  padding: 3rem;
  flex-wrap: wrap;
}

@media screen and(max-width:800px) {
  .product {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $light-black;
    margin: 1rem;
  }
  .product__image {
    flex-grow: 1;
    max-width: 100%;
    padding: 1rem;
    border: none;
  }
  .product__name,
  .product__detail,
  .product__status {
    padding: 1rem;
    border: none;
    font-size: $font-sm;
  }
}
